.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #dee2e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #dee2e6;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.help-block {
    color: #db3700;
}
/* Custom radio buttons */
.custom-label {
    font-weight: 400!important;
    margin-left: 1em;
}
input[type='radio'] {
    vertical-align: -8%;
}
input[type='radio'], .custom-label {
    cursor: pointer;
}
/* end Custom radio buttons */
.square {
    display: block;
    background: #eaeaea;
    width: 2em;
    padding: 0.1em;
    border: 1px solid white;
    border-radius: 0.3em;
}